//Esquemas de Colores

// Primer esquema de color
$white:#FFF;
$platinum:#F2F4F5;
$black:#000000;

// Segundo esquema de color
$coral:#E94F37;

//Tipografías
$monospace:  monospace;

//Pesos de Fuentes
$regular: 400;
$semibold: 600;
$bold: 700;

//Tamaños de Fuentes
$xx-large:26px;
$x-large:24px;
$large:19.5px;
$medium:13px;