.header{
    width: 95%;
    background-color: $white;
    margin: 0 auto;
    font-family: $monospace;
}

.menu {
    width: 100%;;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid gray;
}

.logo {
    font-size: $x-large;
    font-weight: $bold;
    text-transform: uppercase;
    display: inline-block;
    width: 12%;
}

.nav {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: -5%;
}

.nav ul li{
list-style: none;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    
    &:hover{
    color: $coral;
    text-decoration: underline;
    }
}

.input-menu {
    border-radius: 30px;
}



@media only screen and (min-width: 800px){
.header{
    width: 85%;
    padding: 0 0 0 0;
}

.nav {
width: 87%;
}

}

@media only screen and (min-width: 1000px){
.header{
    width: 70%;
}
}

@media only screen and (min-width: 1200px){
.header{
    width: 60%;
    padding: 2.5% 0 0 0;
}

.nav {
width: 87%;
text-align: right;
margin-top: -5%;
}

.nav ul li{
list-style: initial;
}
}


